body { background: #2c81b2 url('../img/escheresque.png'); }

iframe { max-width: 100%; }

.sidebar { background: #ffffff; color: #000000; position: fixed; width: 35%; max-width: 400px; min-height: 600px; height: 100%; min-width: 300px; }
.sidebar .void { padding: 5% 20px; height: 90%; }
.sidebar h1 a { background: url('../img/logo.png') no-repeat; text-indent: -9999px; color: transparent; width: 286px; height: 57px; display: block; margin: 0 auto; }
.sidebar h2 { font-size: 12pt; font-weight: normal; line-height: inherit; text-align: center; }
.sidebar a { color: #2c81b2; text-decoration: none; }
.sidebar a:active, .sidebar a:hover { color: #2c81b2; text-decoration: underline; }
.sidebar .twitter-section { position: relative; bottom: 0px; width: 100%; margin-top: 220px; }
.sidebar .twitter-section h3 { height: 50px; width: 50px; background: url('../img/twitter.png') no-repeat; display: block; margin: 0 auto 20px; color: transparent; text-indent: -9999px; }
.sidebar .twitter-section .tweet .profile-pic { float: left; width: 48px; height: 48px; border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -webkit-border-radius: 5px; }
.sidebar .twitter-section .tweet .content { margin-left: 58px; }
.sidebar .twitter-section .tweet .time { position: absolute; right: 0px; font-weight: normal; font-size: 10pt; }
.sidebar .twitter-section .tweet .utility { margin: 0px; padding: 10px 0px; }
.sidebar .twitter-section .tweet .utility li { display: inline-block; width: 24%; }
.sidebar .twitter-section .tweet .utility li.reply, .sidebar .twitter-section .tweet .utility li.retweet, .sidebar .twitter-section .tweet .utility li.favorite { display: none; }
.sidebar .twitter-section .tweet .utility:hover li.reply, .sidebar .twitter-section .tweet .utility:hover li.retweet, .sidebar .twitter-section .tweet .utility:hover li.favorite { display: inline-block; }
.sidebar .twitter-section .tweet .utility li.reply, .sidebar .twitter-section .tweet .utility li.retweet { text-align: center; }
.sidebar .twitter-section .tweet .utility li.favorite { text-align: right; }

.mainbody { padding-left: 400px; }
.mainbody .void { padding: 30px 20px 20px; }
.mainbody .blog-excerpt { color: #ffffff; background: #000000; padding: 20px; margin-bottom: 20px; }
.mainbody .blog-excerpt h3 { line-height: inherit; margin: 0 0 15px; }
.mainbody .blog-excerpt h3 a { color: #2c81b2; }
.mainbody .blog-excerpt a { color: #ffffff; text-decoration: none; }
.mainbody .blog-excerpt a:active, .mainbody .blog-excerpt a:hover { color: #ffffff; text-decoration: underline; }
.mainbody .blog-excerpt .read-more { text-align: right; }
.mainbody .blog-excerpt .read-more a { color: #2c81b2; font-style: italic; text-decoration: none; }
.mainbody .blog-excerpt .read-more a:hover { color: #2c81b2; text-decoration: underline; }
.mainbody .blog-excerpt .content iframe { margin: 10px auto; display: block; }
.mainbody .blog-excerpt .excerpt-footer { list-style: none; padding: 0px; margin: 0px; margin-top: 15px; width: 100%; }
.mainbody .blog-excerpt .excerpt-footer li { display: inline-block; padding: 0px; }
.mainbody .blog-excerpt .excerpt-footer li.date { text-align: center; }
.mainbody .blog-excerpt .excerpt-footer li.date h4 { margin: 0; }
.mainbody .blog-excerpt .excerpt-footer li.tags { padding-left: 30px; padding-right: 30px; }
.mainbody .blog-excerpt .excerpt-footer li.share-facebook { float: right; }
.mainbody .blog-excerpt .excerpt-footer li.share-facebook img { vertical-align: bottom; }

@media (max-width: 1100px) { .mainbody { padding-left: 380px; } }
@media (max-width: 1000px) { .mainbody { padding-left: 350px; } }
@media (max-width: 920px) { .mainbody { padding-left: 320px; } }
@media (max-width: 800px) {
	body { padding-left: 0px; padding-right: 0px; }
	.sidebar { height: auto; width: 100%; max-width: inherit; min-height: 60px; }
	.sidebar h2 { display: none; }
	.sidebar .twitter-section { display: none; }
	.mainbody { padding-left: 0px; }
}